.auth {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 26.875vw;
	height: 100%;
	margin: 0 5.9765625vw;
	padding-top: 32.6923vh;
	&-subtitle,
	&-title {
		width: inherit;
		word-wrap: break-word;
		hyphens: auto;
	}
	&-title {
		line-height: 4.326923vh;
		font-size: 30px;
		font-weight: 700;
		color: var(--clr-black)
	}
	&-subtitle {
		line-height: 2.04327vh;
		font-size: 15px;
		font-weight: 400;
		margin-top: .600962vh;
	}
	&-form {
		display: flex;
		flex-direction: column;
		gap: 2.40385vh;
		margin-top: 3.00481vh;
		.button {
			height: 6.61058vh;
			font-size: 17px;
		}
	}
}
