.calendar {
	position: absolute;
	top: 56px;
	width: calc(50% - 48px / 2);
	max-height: 80vh;
	background-color: var(--clr-white);
	border-radius: 12px;
	box-shadow: 0 15px 40px rgba(0, 0, 0, .12);
	overflow: hidden;
	transition: all .75s;
	z-index: 2;
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 1.125vw 0;
		&__buttons {
			display: flex;
			gap: .78125vw;
		}
	}
	&-body {
		padding: 10px .625vw;
		&__weeks,
		&__days {
			display: flex;
			align-items: center;
			justify-content: center;
			list-style: none;
			flex-wrap: wrap;
			.item {
				width: calc(100% / 7);
				text-align: center;
				&-text {
					font-size: 12px;
					padding-top: 1px;
				}
			}
		}
		&__weeks {
			margin-bottom: 8px;
			.item-text {
				color: var(--clr-text-secondary);
			}
		}
		&__days {
			gap: 6px 0;
			.item {
				&-text {
					color: var(--clr-text-primary);
				}
				.another {
					color: var(--clr-text-secondary);
				}
				.weekend {
					color: var(--clr-blue);
				}
				.active {
					position: relative;
					color: var(--clr-white);
					&::before {
						position: absolute;
						top: 50%;
						left: 50%;
						content: '';
						width: 18px;
						height: 18px;
						background-color: var(--clr-blue);
						border-radius: 50%;
						transform: translate(-50%, -50%);
						z-index: -1;
					}
				}
			}
		}
	}
}
