.drivers {
	display: flex;
	gap: 2.5vw;
	margin: 0 auto;
	&-right {
		width: 43.125vw;
		&__header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			.filter {
				width: 267px;
				height: 40px;
				&-text {
					width: calc(50% - 43px / 2);
					font-size: 18px;
				}
				&-icon {
					width: 43px;
				}
			}
		}
		&__body {
			display: flex;
			flex-wrap: wrap;
			gap: 20px 1.5625vw;
			.counter {
				&:first-child,
				&:nth-child(2) {
					width: 20.703125vw;
					padding-top: 74px !important;
					padding-bottom: 20px !important;
					.counter-body__total {
						grid-gap: 10px;
						.title {
							line-height: 24px;
							font-weight: 500;
						}
					}
				}
				&:last-child {
					padding-bottom: 31px !important;
				}
				&-body__percentage {
					display: flex;
					gap: 1.09375vw;
					margin-top: 30px;
					&-box {
						min-width: 11.71875vw;
						.text {
							font-size: 30px;
							line-height: 40px;
							color: rgba(85, 85, 85, .4);
							background: linear-gradient(109deg, var(--clr-orange) .92%, rgba(255, 190, 0, .19) 100%);
							border-radius: 10px;
							padding-left: 1.171875vw;
						}
						.lastmonth {
							line-height: 13px;
							margin-top: 8px;
							.btn {
								color: var(--clr-orange);
							}
						}
					}
				}
			}
		}
	}
}
