.home {
	padding: 65px 3.125vw;
	&-control {
		display: flex;
		gap: 3.125vw;
		.button {
			margin-top: 20px;
		}
	}
	.bio {
		min-height: 624px;
	}
	.history {
		display: flex;
		gap: 5.15625vw;
		margin: auto;
		.bio {
			min-height: 364px;
		}
		&-right {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px 5.15625vw;
		}
	}
}
