.home {
	padding: 65px 3.125vw;
	&-control {
		display: flex;
		gap: 3.125vw;
		.button {
			margin-top: 20px;
		}
	}
	.bio {
		height: 624px;
	}
	.history {
		position: relative;
		display: flex;
		width: 100%;
		gap: 5.15625vw;
		margin-left: 2.8125vw;
		.bio {
			height: 364px;
		}
		&-content {
			display: flex;
			gap: 10px 5.15625vw;
			&.default {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 10px 5.15625vw;
			}
			margin-bottom: -10px;
			&__text {
				margin-bottom: 5px;
			}
		}
		&-button {
			position: absolute;
			top: 0;
			right: 3.125vw;
		}
	}
}
