@import './auth.scss';
@import '../fonts/stylesheet.css';

:root {
  --clr-white: #FFF;
  --clr-black: #000;
  --clr-orange: #FFBE00;
  --clr-background: #F8F8F8;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all;
  transition-duration: 300ms;
}

html {
	scroll-behavior: smooth;
}

body {
  display: block;
  width: 100%;
  font-family: Gilroy;
  font-style: normal;
}

ul {
  list-style-type: none;
}
