@import './auth.scss';
@import './calendar.scss';
@import './header.scss';
@import './home.scss';
@import './table.scss';
@import './welcome.scss';
@import '../fonts/stylesheet.css';

:root {
  --clr-white: #FFF;
  --clr-black: #000;
  --clr-grey: #E6E6E6;
  --clr-grey-3: #8C8C8C;
  --clr-orange: #FFBE00;
  --clr-green: #24C43E;
  --clr-blue: #6481E1;
  --clr-auth: #CACACA;
  --clr-text-primary: #3D3D3D;
  --clr-text-secondary: #939393;
  --clr-background: #F8F8F8;
  --clr-background-auth: #F5F5F5;
  --clr-border: #F1F1F1;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all;
  transition-duration: 300ms;
}

html {
	scroll-behavior: smooth;
}

body {
  display: block;
  width: 100%;
  font-family: Gilroy;
  font-style: normal;
}

ul {
  list-style-type: none;
}

textarea:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

h1, h3, p {
  font-weight: 500;
}
h1 {
  font-size: 40px;
}
h2, h3 {
  font-size: 20px;
}
h2 {
  font-weight: 600;
}
p {
  font-size: 15px;
}

.btn {
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
}
