@import './auth.scss';
@import '../fonts/stylesheet.css';

:root {
  --clr-white: #FFF;
  --clr-black: #000;
  --clr-orange: #FFBE00;
  --clr-auth: #CACACA;
  --clr-background: #F8F8F8;
  --clr-background-auth: #F5F5F5;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all;
  transition-duration: 300ms;
}

html {
	scroll-behavior: smooth;
}

body {
  display: block;
  width: 100%;
  font-family: Gilroy;
  font-style: normal;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 40px;
}

@media screen and (max-width: 1279px) {
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
}
