.table {
	margin-top: 20px;
	&-header,
	&-body__row-info {
		display: flex;
		justify-content: space-evenly;
		.id,
		.name,
		.number,
		.city,
		.a,
		.b {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.id {
			width: 6.640625vw;
		}
		.name {
			width: 23.671875vw;
		}
		.number {
			width: 17.8125vw;
		}
		.city {
			width: 14.0625vw;
		}
		.a,
		.b {
			width: 13.4375vw;
		}
	}
	&-header {
		padding: 15px 2.34375vw;
	}
	&-body {
		display: grid;
		grid-gap: 15px;
		&__row {
			&-info {
				background-color: var(--clr-grey);
				border-radius: 14px;
				padding: 18px 2.34375vw 17px;
				.a {
					display: flex;
					align-items: center;
					gap: 1px;
				}
			}
			&-detail {
				display: flex;
				justify-content: space-between;
				max-height: 100vh;
				background-color: var(--clr-grey);
				border-radius: 19px;
				padding: 30px 2.34375vw;
				overflow: hidden;
				margin-top: 15px;
				transition: .4s;
				&.hide {
					max-height: 0;
					margin-top: 0;
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}
